<!-- 
 <app-login></app-login>
 <app-user></app-user> -->

 <div id="app wrapper">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a href="#" class="navbar-brand">School Management</a>
    
    <ul class="navbar-nav ">
      <li class="nav-item active" *ngIf="loginDetails == ''">        
        <a href='login' class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav "> 
      <li class="nav-item active" *ngIf="((loginDetails != null) && (userRole == 'Admin')&&(addUserTag == 'true')&&(addCourseTag == 'false'))">
        <a href='createuser' class="nav-link" routerLink="createuser">Create User</a>
      </li>
      <li class="nav-item active" *ngIf="((loginDetails != null )&&(userRole == 'Admin')&&(addUserTag == 'false')&&(addCourseTag == 'true'))">
        <a href='createcourse' class="nav-link" routerLink="createcourse">Create Course</a>
      </li>
      <li class="nav-item active" *ngIf="((loginDetails != null )&&(userRole == 'Admin')&&(addUserTag == 'false')&&(addCourseTag == 'true'))">
        <a href='enrolled' class="nav-link" routerLink="enrolled">Enrollments</a>
      </li>
      <li class="nav-item active" *ngIf="((loginDetails != null) && (userRole == 'Admin'))" >
        <a href='' class="nav-link" routerLink="" (click)="Logout()">Logout</a>
      </li>
    </ul>

    <ul class="navbar-nav "> 
      <li class="nav-item active" *ngIf="((loginDetails != null) && (userRole == 'Teacher' || userRole == 'teacher'|| userRole == 'Student' || userRole == 'student'))" >
        <a href='' class="nav-link" routerLink="" (click)="Logout()">Logout</a>
      </li>
    </ul>
</nav>

  
<div class="container">
  <router-outlet></router-outlet>
</div>
</div>