<!-- <p>createuser works!</p> -->

<div class="container">
    <form *ngIf="!isSuccessful" name="form" #f="ngForm" validate>
        <div style='margin-top: 15%;'>
            <div>
                <div *ngIf="add">
                    <h1> Add User</h1>
                </div>
                <div *ngIf="update">
                    <h1> Update User</h1>
                </div>
            </div>
            <div>
                <div class='card-body'>
                    <div class="row mt-3">
                        <label>User Name: </label>
                        <input type="username" name="username" #username="ngModel" minlength="4" maxlength="20"
                            class="form-control" required [(ngModel)]="userDetails.userName" />
                        <div *ngIf="username.errors?.['required'] && username.touched" class="text-danger">UserName is
                            required.</div>
                        <div *ngIf="username.errors?.['minlength']" class="text-danger">Username must be at least 4
                            characters</div>
                    </div>


                    <div class="row mt-3">
                        <label>First Name: </label>
                        <input type="firstname" name="firstname" #firstname="ngModel" minlength="4" maxlength="20"
                            class="form-control" required [(ngModel)]="userDetails.firstName" />
                        <div *ngIf="firstname.errors?.['required'] && firstname.touched" class="text-danger">Firstname
                            is required.</div>
                        <div *ngIf="firstname.errors?.['minlength']" class="text-danger">Firstname must be at least 4
                            characters</div>
                    </div>

                    <div class="row mt-3">
                        <label>Last Name: </label>
                        <input type="lastname" name="lastname" #lastname="ngModel" minlength="4" maxlength="20"
                            class="form-control" required [(ngModel)]="userDetails.lastName" />
                        <div *ngIf="lastname.errors?.['required'] && lastname.touched" class="text-danger">Lastname is
                            required.</div>
                        <div *ngIf="lastname.errors?.['minlength']" class="text-danger">Lastname must be at least 4
                            characters</div>
                    </div>

                    <div class="row mt-3">
                        <label>Email: </label>
                        <input type="email" name="email" email #email="ngModel" class="form-control" required
                            [(ngModel)]="userDetails.email" />
                        <div *ngIf="email.errors?.['required'] && email.touched" class="text-danger">Email is required
                        </div>
                        <div *ngIf="email.errors?.['email']" class="text-danger">Email must be a valid email address
                        </div>
                    </div>

                    <div class="row mt-3">
                        <label>Phone Number: </label>
                        <input type="tel" name="phonenumber" #phonenumber="ngModel" pattern="^[789]\d{9,9}$"
                            class="form-control" required [(ngModel)]="userDetails.phoneNumber" />
                        <div *ngIf="phonenumber.errors?.['required'] && phonenumber.touched" class="text-danger">
                            Phonenumber
                            is required</div>
                        <div *ngIf="phonenumber.errors?.['pattern']" class="text-danger">
                            Phone number with 7-9 and remaining 9 digit with 0-9
                        </div>
                    </div>


                    <div class="row mt-3">
                        <label>Grade Level: </label>
                        <input type="number" name="gradelevel" #gradelevel="ngModel" class="form-control" required
                            [(ngModel)]="userDetails.gradeLevel" />
                        <div *ngIf="gradelevel.errors?.['required'] && gradelevel.touched" class="text-danger">
                            Gradelevel is
                            required</div>
                    </div>

                    <div class="row mt-3">
                        <label>Address: </label>
                        <textarea type="text" name="address" #address="ngModel" class="form-control" 
                            [(ngModel)]="userDetails.address" minlength="20" maxlength="250" required></textarea>
                        <div *ngIf="address.errors?.['required'] && address.touched" class="text-danger">Address is
                            required
                        </div>
                    </div>

                    <div class="row mt-3">
                        <label>State: </label>
                        <input type="text" name="statecode" #statecode="ngModel" minlength="2" maxlength="2"
                            class="form-control" required [(ngModel)]="userDetails.stateCode" />
                        <div *ngIf="statecode.errors?.['required'] && statecode.touched" class="text-danger"></div>
                        <div *ngIf="statecode.errors?.['pattern']" class="text-danger">
                            Format = 'KA' - 'Karnataka', 'AP' - 'Andhra Pradesh'.
                        </div>
                    </div>

                    <div class="row mt-3">
                        <label>Zipcode: </label>
                        <input type="text" inputmode="numeric" name="zipcode" #zipcode="ngModel" minlength="6"
                            pattern="[0-9]{6}" class="form-control" required [(ngModel)]="userDetails.zipcode" />
                        <div *ngIf="zipcode.errors?.['required'] && zipcode.touched" class="text-danger">Zipcode is
                            required
                        </div>
                        <div *ngIf="zipcode.errors?.['pattern']" class="text-danger">Length should be of 6 numbers.
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <label>Country: </label>
                        <input type="text" name="country" #country="ngModel" class="form-control" required
                            [(ngModel)]="userDetails.country" />
                        <div *ngIf="country.errors?.['required'] && country.touched" class="text-danger">Country is
                            required
                        </div>
                    </div>

                    <div class="row mt-3">
                        <label>Password: </label>
                        <input type="password" name="pass" #pass="ngModel" minlength="6" class="form-control" required
                            [(ngModel)]="userDetails.password" />
                        <div *ngIf="pass.errors?.['required'] && pass.touched" class="text-danger">Password is required.
                        </div>
                        <div *ngIf="pass.errors?.['minlength']" class="text-danger">Password must be at least 6
                            characters
                        </div>
                    </div>

                    <div class="row mt-3">
                        <label>User Role: </label>
                        <select class="form-control" style="width: 55%;" name="idRole" #idRole="ngModel"
                            [(ngModel)]="userDetails.idRole">
                            <option value="Admin">Admin</option>
                            <option value="Teacher">Teacher</option>
                            <option value="Student">Student</option>
                        </select>
                    </div>

                    <div class="row mt-3">
                        <div class="form-group row">
                            <div class='col-md-4'></div>
                            <div class='col-md-2' *ngIf="addbtn">
                                <button class="btn btn-primary" [disabled]="f.invalid"
                                    (click)="onSubmit()">Submit</button>
                            </div>
                            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                                Signup failed!<br />{{ errorMessage }}
                            </div>
                            <div class="alert alert-success" *ngIf="isSuccessful">
                                Your registration is successful!
                            </div>
                            <div class='col-md-2' *ngIf="updatebtn">
                                <button class="btn btn-primary" [disabled]="f.invalid" (click)="onUpdate()">Update</button>
                            </div>
                            <div class='col-md-4'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>